doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Q test
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //- link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
  body
    .one.test: .two: .three: .four: .five: .six: .seven: .eight: .nine: .ten: #findme FINDME

    script(src="q.js")