doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title 
		meta(name="description" content="")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
		link(rel="stylesheet" href="style.css")
		style.
			p {
				//display: none;
			}
	body
		.container
			.col-xs-12.wrapper
				//- p#p(style="display: none")
				p#p(data-color="green")
					|first
					span inside
				p second
				.items
				input
				#i
					input
				#id1
				#id2
				.p-wrapper
				.p-wrapper
				.p-wrapper
				.items
					h1 world
				.items
					a(href="#here") HERE

		-var script = 'j'
		-var script = 'q'

		if script == 'q'
			script(src="q.js")
		else if script == 'j'
			script(src="jquery.js")
			script.
				console.error('line 1508')
				let i = 0;
				const $p = $('p');
				console.log($p.text());
				//- const $p = $('<p>');
				//- $p.text('test; ' + (i++));
				//- $p.appendTo($('.p-wrapper'));

				//- var d = document.querySelectorAll('p');
				//- console.log(typeof d);
				//- console.dir($.ajaxSetup);
				//- console.dir($.toArray);
				//- console.log(typeof $.toArray(d));
				//- console.dir($);
		//- script(src="new.vanilla.jquery.js")
		//- script.
			Q("p").fadeIn();
			var e = Q("p");
			console.log(e);
			console.log(Q("p"));
		//- 
			script.
				$("#p").fadeOut(300);
				console.log($("p"));
		//- script.
			$(function() {
				$.ajax({
					url: 'ajax.php'
				}).done(function(m) {
					console.log(m);
				});
			});
		//- script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
		//- script(src="scripts.js")